arrow==0.8.0
beautifulsoup4==4.5.1
colorama==0.4.4
decorator==4.0.10
entrypoints==0.2.2
Flask==2.00
Flask-SQLAlchemy==2.5.1
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
itsdangerous==2.0
Jinja2==3.0
jsonschema==2.5.1
jupyter-client==4.4.0
jupyter-core==4.2.0
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
notebook==4.2.2
passlib==1.7.4
pickleshare==0.7.4
prompt-toolkit==1.0.7
psycopg2==2.9.1
ptyprocess==0.5.1
Pygments==2.5.1
python-dateutil==2.5.3
pyzmq==22.2.1
requests==2.20
selenium==3.141.0
setuptools==57.4.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.4.23
SQLAlchemy-Utils==0.37.8
stripe==1.41.1
tornado==4.4.1
traitlets==4.3.0
unidecode==1.2.0
wcwidth==0.1.7
Werkzeug==2.0
win-unicode-console==0.5
